<div class="container">
    <div class="row">
        <div class="col-lg-4 mb-4">
            <div class="card">
                <div class="card">
                    <img src="{{'https://image.tmdb.org/t/p/h632/' + actor.profile_path}}" alt="profile"/>
                </div>
            </div>
        </div>
        <div class="col-lg-7 mb-4">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-header">{{actor.name | uppercase}}</h3>
                <div class="card-body">
                    <h4 class="card-subtitle text-muted">{{actor.place_of_birth}}</h4>
                    <h5 class="card-title">
                        <span>{{actor.birthday | date:"yyyy"}}</span>
                        <span *ngIf="actor.deathday">{{actor.deathday | date:"yyyy"}}</span>
                    </h5>
                </div>                
                <div class="card-body">
                    <h5 class="card-text">{{actor.biography}}</h5>
                </div> 
                <div class="card-footer" *ngIf="actor.imdb_id">
                    <a href="{{'https://www.imdb.com/name/' + actor.imdb_id}}" class="card-link">IMDB page</a>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card" *ngIf="!actor">
    <app-page-not-found></app-page-not-found>
</div>